.pag_cadastro{
    background-color: #ecf0f1;
    text-align: left;
    padding: 20px 0;
    min-height: 800px;
}
.pag_cadastro h1{
    max-width: 50%;
}

.box_cadastro{
    max-width: 50%;
    float: left;
}

.pag_cadastro .input_cadastro{
    height: 30px;
    width: 100%;
    padding-right: 100px;
}

.box_cadastro h4{
    margin-bottom: 0;
}
.btn_cadastro{
    margin-top: 50px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}
.img_dashboard{
    float: right;
    height: 600px;
}