*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    background-color: rgb(46, 45, 45);
    width: 100%;
    height: 80px;
}

.caixa{
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#projeto{
    color: coral;
}

ul{
    list-style: none;
    float: right;
}

li{
    display: inline;
    margin-left: 25px;
    margin-top: 5px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
li:hover{
    color: coral
}
/* Final do header */
.linha{
    width: 100%;
    background-color: coral;
    height: 2px;
    float: left;
}
/* Começo do receba */

.receba{
    background-color: rgb(46, 45, 45);
    width: 100%;
    height: 80px;
    float: left;
}
.caixa2{
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#email {
    float: right;
    margin-top: 25px;
}
#enviar{
    float: right;
    margin-top: 25px;
    background-color: coral;
    margin-left: 5px;
    border: none;
    padding: 4px;
}
#enviar:hover{
    background-color: black;
    color: white;
}
/* Começo do conteudo */

.conteudo{
    text-align: center;
    background-image: url(team.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    color: white;
    float: left;
    width: 100%;
}

.conteudo p{
    font-size: 20px;
   padding-top: 50px;
}

.caixa2 #titulo{
    padding-top: 50px;
    font-size: 40px;
}
.sobre{
    float: left;
    width: 100%;
    background-color: rgb(236, 236, 236);
    height: 250px;
}

.img1 {
    float: left;
    height: 150px;
    margin-left: 100px;
    margin-top: 50px;
}
.img2{
    float: left;
    height: 150px;
    margin-left: 200px;
    margin-top: 50px;
}
.img3{
    float: left;
    height: 150px;
    margin-left: 200px;
    margin-top: 50px;
}
.caixa3{
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(236, 236, 236);
}
.descricoes{
    width: 100%;
    background-color: rgb(236, 236, 236);
    float: left;
}
.desc1{
    float: left;
    text-align: center;
    max-width: 400px;
    margin-left: 120px;

}
.desc2{
    float: left;
    text-align: center;
    max-width: 400px;

}
.desc3{
    text-align: center;
    max-width: 400px;
    float: left;
}
.rodape{
    padding-top: 30px;
    text-align: center;
    background-color: orangered;
    height: 60px;
    width: 100%;
    float: left;
}
.rodape span{
    
    font-size: large;
    color: white;
}