body{
    margin: 0;
    padding: 0;
    border: 0;
}

.header{
    background-color: rgb(46, 45, 45);
    width: 100%;
    height: 80px;
}

.caixa{
    background-color: rgb(46, 45, 45);
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
}

h2{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#projeto{
    color: coral;
}

ul{
    list-style: none;
    float: right;
}

li{
    display: inline;
    margin-left: 25px;
    margin-top: 5px;
    float: right;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
li:hover{
    color: coral
}